* {
  box-sizing: border-box;
}

.page {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  margin: auto;
}

.fieldset {
  margin: 0;
}

.legend {
  background-color: black;
  color: white;
  padding: 3px 6px;
}

.form__control {
  margin-top: 1rem;
}

#codes {
  width: 100%;
}

.form__button {
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
}

@media screen and (max-width: 720px) {
  .main {
    width: calc(100% - 40px);
  }
}
