@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  margin: 0;
  min-width: 414px;
  overflow: hidden;
}

.header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#copy {
  background-color: white;
  color: black;
  cursor: pointer;
  font-family: inherit;
  padding: 0.2rem;
}

.link {
  color: white;
}

.main {
  display: flex;
  flex: 1;
}

#markdown {
  border: 1px solid black;
  border-top: none;
  flex: 0.3;
  font-family: inherit;
  font-size: 2rem;
  overflow: auto;
  padding: 1rem;
  resize: none;
}

#markdown:active,
#markdown:focus {
  outline: none;
}

#output {
  flex: 0.7;
  font-family: inherit;
  font-size: 2rem;
  height: 100vh;
  overflow: auto;
  padding: 1rem;
}

#copy {
  background-color: black;
  margin-left: auto;
  width: 4rem;
}

@media screen and (max-width: 820px) {
  .main {
    flex-direction: column;
    height: 100vh;
  }
}
